SUBSYSTEM=="video4linux", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.1.1:1.0", SYMLINK+="camera_right_wrist"
SUBSYSTEM=="video4linux", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.1.4:1.0", SYMLINK+="camera_left_wrist"
SUBSYSTEM=="video4linux", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3.3:1.0", SYMLINK+="camera_front"
